modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/admin-panel: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/admin-panel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/admin-panel run dev"
cwd = "./artifacts/admin-panel"
waitForPort = 20130
router = "path"

[workflows.workflow.tasks.env]
PORT = "20130"
BASE_PATH = "/"

[[workflows.workflow]]
name = "BuildProd"
mode = "sequential"
author = 44036098

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/admin-panel run build:static"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
